html, body{
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Slabo 27px', serif;
  background-image: url("../images/circles-light.png");
}

ul{
	padding-left: 15px;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	margin: 10px 0px;
}

button.btn{
	margin: 5px;
    padding: 16px 30px;
	border: none;
}

button.btn:hover, a:hover{
	cursor: pointer;
}

button.btn-full-width{
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

button.primary-btn{
    background-color: #10bbd5;
    color: white;
}

button.primary-btn:hover{
    background-color: #29d5ef;
}

button.secondary-btn{
    background-color: #f0f0f0;
    color: #666666;
}

button.secondary-btn:hover{
    background-color: #cecece;
}

input{
	margin: 5px;
    padding: 10px;
}

input.full-width{
	box-sizing: border-box;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.tags{
	margin: 15px 0px;
}

.tag{
	background-color: #f2f2f3;
	padding: 5px;
    margin: 5px;
}

hr{
	border-top: 0.1px solid #AAAAAA;
}