html, body{
	margin: 0;
	padding: 0;
}

body {
  font-family: sans-serif;
  background-image: url("../images/circles-light.png");
}

ul{
	padding-left: 15px;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	margin: 10px 0px;
}