#navigation-container{
	background-color: white;
	border-bottom: 2px solid #DDDDDD;
}

#navigation{
	max-width: 1200px;
	margin: 0 auto;
	font-size: 14px;
	justify-content: space-between;
}

#navigation, #navigation .right-section{
	display: flex;
}

#navigation li{
	display: inline;
	position: relative;
}

#navigation li a{
	margin: 0 1rem;
}

#navigation li ul{
	position: absolute;
	top: 20px;
	left: 0;
	background-color: white;
	box-shadow: 0rem 0rem 0.3rem rgba(0,0,0,0.2);
	z-index: 100;
}

#navigation li ul li{
	display: block;
	padding: 10px 0px;
}

.right-section .cart-container{
	font-weight: bold;
	background: #EEEEEE;
}

.right-section .cart-container .total, #navigation .right-section .cart-container .cart-btn{
	line-height: 2.75rem;
    padding: 0 1.25rem;

}