#navigation-container{
	background-color: white;
}

#navigation{
	max-width: 1200px;
	margin: 0 auto;
	font-size: 14px;
	justify-content: space-between;
}

#navigation, #right-section{
	display: flex;
}

#navigation li{
	display: inline;
}

#navigation li a{
	margin: 0 1rem;
}

#right-section .cart-container{
	font-weight: bold;
	background: #EEEEEE;
}

#right-section .cart-container .total, #right-section .cart-container .cart-btn{
	line-height: 2.75rem;
    padding: 0 1.25rem;

}