.product-item-in-cart{
	border-bottom: 1px solid #DDDDDD;
	justify-content: space-between;
	padding: 15px;
}

.product-item-in-cart{
	display: flex;
}

.product-item-in-cart .quantity input{
	width: 40px;
}