.product-item{
	display: inline-block;
	margin-right: .75rem;
	padding: 0px 4px;
}

.product-item, .product-item .item-img img{
	max-width: 120px;
}

/*.item-img{
	height: 100px;
}*/

.item-name{
    font-size: 14px;
    height: 35px;
    overflow: hidden;
}

.item-price{
	font-size: 18px;
	float: right;
    margin-right: 0.75em;
}